extends base

block content 
    h4 #{video.rating}/5 rating.
    h4 #{video.comments} #{video.comments === 1 ? "view" : "views"}
    h4 Posted #{video.createdAt}.
    a(href=`${video.id}/edit`) Edit video &rarr;